<mat-grid-list cols="3" rowHeight="150px">
    
    <mat-grid-tile [colspan]=3 [rowspan]=1>
        <div class='texts title'>This page gives credits to the amazing materials we used for this website.</div>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <div class='texts item'>Background Image:</div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=2 [rowspan]=1>
        <div class='texts citation'>"Dark Geometric Wallpapers Top Free Dark Geometric." Walpaperlist, www.walpaperlist.com/2020/01/geometric-wallpaper-1920x1080-dark.html. </div>
    </mat-grid-tile>

</mat-grid-list>
